<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<div class="h-screen surface-300">
  <div class="grid py-3">
    <div class="col-10 mx-auto">
      <p-card styleClass="p-card-summary-list">
        <div class="grid">
          <div class="col flex" *ngFor="let item of summary; let i = index">
            <div class="flex-grow-1 px-2">
              <p class="font-semibold text-800 text-3xl mb-0">
                {{ item.total }}
              </p>
              <div class="flex">
                <p class="font-light uppercase text-bluegray-600 text-sm mb-0">
                  {{ item.text }}
                </p>
                <div
                  ngbDropdown
                  #myDrop="ngbDropdown"
                  container="body"
                  class="d-inline-block"
                >
                  <button
                    class="btn btn-outline-primary"
                    id="dropdownForm1"
                    (click)="$event.stopPropagation(); myDrop.toggle()"
                  >
                    <i class="pi pi-ellipsis-v"></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                    <button ngbDropdownItem>Option 1</button>
                    <button ngbDropdownItem>Option 2</button>
                  </div>
                </div>
              </div>
            </div>
            <p-divider
              *ngIf="i < summary.length - 1"
              layout="vertical"
            ></p-divider>
          </div>
        </div>
      </p-card>

      <p-divider></p-divider>

      <p-card header="Lista de solicitudes"></p-card>
    </div>
  </div>
</div>
